[Unit]
Description=homeAssistantStatus

[Service]
ExecStart=/usr/local/bin/npm start
WorkingDirectory=/home/pi/Development/homeassistantstatus
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
